.workload{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    padding: 5px;
}

.workload__header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px;
}

.woekload-user {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 ستون با عرض برابر */
  gap: 15px; /* فاصله بین کامپوننت‌ها */
  justify-items: center;
  margin: 10px 0 10px 0;
}