.NearestEvent {
    background-color: white;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    padding: 5px;


}

.NearestEvent__event {
    margin-top: 20px;
}

.NearestEvent {
    height: 100%;
}

.NearestEvent__event {
    height: 100%;
    max-height: 400px;
    /* یا ارتفاع مورد نظر شما */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* فاصله بین ایونت‌ها */
}

.btn{
    border-radius: 10px !important;
}

/* برای نمایش فقط 3 ایونت اول بدون اسکرول و بقیه با اسکرول */
.NearestEvent__event {
    max-height: 400px;
    overflow-y: hidden;
}

.NearestEvent__event:hover {
    overflow-y: auto;
}

/* استایل‌دهی اسکرول بار */
.NearestEvent__event::-webkit-scrollbar {
    width: 6px;
}

.NearestEvent__event::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.NearestEvent__event::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

.NearestEvent__event::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.col-5-5{
    width: 45%;
}